.$设计图.drawio.bkp
*.exe
design/.$设计图.drawio.dtmp
test/test.db
.$设计图.drawio.dtmp
env-compose/mysql-data/
env-compose/apisix_logs/
env-compose/etcd_data/
*.log
env-compose/mysql_data/
设计稿/.$结构图.drawio.bkp
设计稿/.$结构图.drawio.dtmp
env-compose/consul_data/
**/.air.toml
**/tmp/
locust/__pycache__/locustfile.cpython-39.pyc
services/**/app
env-compose/jenkins_home/
deploy/dist/svc-*
deploy/dist/*-svc-*
deploy/dist/workflows
locust/__pycache__
deploy/dist.zip
deploy/test.html
.idea
**/node_modules/
.vscode
*.pyc
*.exe
*.db